/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generamos un fondo el cual no tiene bootstrap y cambiamos el tipo de letra*/
.bg-custom {
    background-color: #021C1F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;   /*'Montserrat', sans-serif font-weight: 900 genera la version Black*/
}

.navbar-custom{
    background-color: #021C1F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;   /*'Montserrat', sans-serif font-weight: 900 genera la version Black*/
}

/* 
Black
font-family: 'Montserrat', sans-serif;
    font-weight: 900;

Semi-bold
font-family: 'Montserrat', sans-serif;
font-weight: 600; 

Extra-bold
font-family: 'Montserrat', sans-serif;
    font-weight: 800;

Regular
font-family: 'Montserrat', sans-serif;
    font-weight: 400;
*/

/*Texto comun*/
.text-custom {
    color: #DAD3BF;
}


/* Cambiamos el color de los elementos de la navbar*/
.navbar-custom .navbar-nav .nav-link {
    color: #DAD3BF;
}

/* Generamos un cambio de color al pasar el mouse por encima mediante hover*/
.navbar-custom .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* Cuando se pasan los 992px de ancho, se genera un boton hamburguesa, le cambiamos el color */
.navbar-toggler {
    background-color: #DAD3BF;
}

/* Le añadimos una animacion al pasar por encima, quitando opacidad */
.navbar-toggler:hover {
    opacity: 0.7;
}

/* Footer personalizado añadiendo clases */
footer.bg-custom {
    color: #DAD3BF; 
}

footer.bg-custom a {
    color: #DAD3BF; 
}

footer.bg-custom a:hover {
    color: #ffffff;
}

/* Ajusta la clase btn-outline-light de bootstrap para que coincida con los estilos personalizados */
footer.bg-custom .btn-outline-light {
    border-color: #DAD3BF; 
    color: #DAD3BF; 
}

footer.bg-custom .btn-outline-light:hover {
    border-color: #ffffff; 
    color: #DAD3BF; 
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* Montserrat Black */
    color: #DAD3BF;
    font-size: 8vw;
    
}



p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; /* Montserrat Extra-Bold */
    color: #DAD3BF;
    font-size: 5vw;
}


.logo {
    max-width: 30%;  
    height: auto;  
    min-width: 150px;  /* Esto soluciona para que tenga logica en movil*/
}


.card-custom {
    background-color: #DAD3BF; 
    color: #021C1F; 
}

.card-custom .btn-primary {
    background-color: #021C1F; 
    border-color: #021C1F; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    color: #DAD3BF;
    font-size: 3vw;
}

.card-custom .btn-primary:hover {
    background-color: #ffffff;
    color: #021C1F;
    border-color: #021C1F; 
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    color: #021C1F;
    font-size: 5vw;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    color: #021C1F;
    font-size: 4vw;
}

.card-img-top {
    padding: 15px; 
}


/* Se veia un poco raro, asi se ajusta un poco antes y despues de los 768px*/
@media (min-width: 768px) {
    h1 {
        font-size: 5vw; 
    }
    
    p {
        font-size: 3vw; 
    }

    .card-title{
        font-size: 3vw;
    }

    .card-text {
        font-size: 2vw;
    }
}

.card-text::first-letter {
    color: #ff0000;
  }


  /* Personalizacion de los botones del acordeon */
.accordion-button.text-custom {
    background-color: #021C1F; 
    color: #DAD3BF; 
}

/* Personalizacion cuando el boton del acordeón esta colapsado */
.accordion-button.text-custom:not(.collapsed) {
    background-color: #DAD3BF; 
    color: #021C1F; 
}

/* Personalizacion del cuerpo del acordepn */
.accordion-body.custom-body {
    background-color: #DAD3BF; 
    color: #021C1F; 
    border-top: 1px solid #021C1F; 
}

.mission-vision-title {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800; 
    color: #DAD3BF; 
}


.carousel-container {
    max-width: 40%; 
    margin: auto; 
    overflow: hidden; 
}


section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    color: #DAD3BF;
    text-align: center;
    margin-bottom: 1rem; 
}

/* Estilo para los subtitulos y párrafos dentro del carrusel */
.carousel-caption {
    background: rgba(2, 28, 31, 0.75); 
    border-radius: 0.5rem;
    padding: 1rem;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
}

.carousel-caption h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    color: #DAD3BF;
    margin-bottom: 0.5rem;
}

.carousel-caption p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    color: #DAD3BF;
}

/* Ajustes para imagenes del carrusel para que se ajusten bien y mantengan proporciones */
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-height: 500px; 
}

/* Ajustes para botones de navegación del carrusel para mejorar visibilidad */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #DAD3BF; 
    border-radius: 0.5rem; 
    padding: 0.5rem; 
}


.p-person {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    color: #DAD3BF;
    font-size: 2vw;
}

/* Ajuste responsive */
@media (max-width: 768px) {
    .carousel-caption {
        font-size: 0.8rem; 
    }

    .carousel-container {
        max-width: 80%; 
    }

    .p-person {
        font-size: 3vw; 
    }
}


.contact-form-section {
    padding: 2rem 0; 
}


.contact-form-section .form-label {
    font-weight: 600; 
    color: #DAD3BF; 
}


.contact-form-section .form-control {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #DAD3BF; 
    color: #DAD3BF; 
    
}

.contact-form-section .form-control:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(218, 211, 191, 0.25); 
}


.contact-form-section .form-select {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #DAD3BF;
    color: #DAD3BF;
}

.contact-form-section .form-select:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(218, 211, 191, 0.25);
}


.contact-form-section .btn-primary {
    background-color: #DAD3BF; 
    border-color: #DAD3BF; 
    color: #021C1F; 
}

.contact-form-section .btn-primary:hover {
    background-color: #ffffff; 
    color: #021C1F; 
}


.contact-form-section .form-select option {
    color: #021C1F; 
}


.contact-form-section .form-select option {
    background-color: #DAD3BF;
}

.img-fluid {
    border-radius: 20px;
}




/* Estilo general de los articles */
.article-servicio {
    background-color: #021C1F; /* Fondo oscuro para los articles */
    color: #DAD3BF; /* Texto en color claro para contraste */
    padding: 1rem; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    margin-bottom: 2rem; /* Espaciado entre articles */
}

/* Estilo para las imágenes dentro de articles */
.article-servicio img {
    border-radius: 0.5rem; /* Bordes redondeados para las imágenes */
    margin-bottom: 1rem; /* Espaciado debajo de las imágenes */
}

/* Estilo para los títulos dentro de articles */
.article-servicio h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* Montserrat Black */
    margin-bottom: 0.5rem; /* Espaciado debajo del título */
}

/* Estilo para los párrafos dentro de articles */
.article-servicio p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Montserrat Regular */
    margin-bottom: 1rem; /* Espaciado debajo de los párrafos */
}

/* Estilo para los botones dentro de articles */
.article-servicio .btn-primary {
    background-color: #DAD3BF; /* Fondo del botón */
    border-color: #DAD3BF; /* Borde del botón */
    color: #021C1F; /* Texto del botón */
    font-weight: 600; /* Montserrat Semi-Bold */
}

.article-servicio .btn-primary:hover {
    background-color: #ffffff; /* Fondo del botón al pasar el ratón */
    color: #021C1F; /* Texto del botón al pasar el ratón */
}

/* Ajustes para dispositivos más pequeños */
@media (max-width: 768px) {
    .article-servicio {
        padding: 0.5rem; /* Espaciado interno más pequeño para pantallas pequeñas */
    }

    /* Estilo responsivo para los botones dentro de articles en pantallas pequeñas */
    .article-servicio .btn-primary {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño para el texto del botón */
    }
}


.main-games {
    text-align: center;
    padding: 20px;
    color: #DAD3BF; 
    font-family: 'Montserrat', sans-serif;
    background-color: #021C1F; 
}

.main-games h1 {
    font-weight: 900; 
}

.game-description {
    margin-bottom: 2rem;
    font-weight: 800; 
}

.game-grid {
    display: grid;
    width: 40%;
    margin: auto; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    justify-items: center; 
    align-items: center; 
}

.game-img {
    margin: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    line-height: 0; 
}

.game-img img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    vertical-align: middle; 
}



.game-img-npc:hover img {
    transform: scale(2); 
}








