.mission-vision-title {
  font-family: $font-family;
  font-weight: $font-weight-extra-bold;
  color: $primary-color;
}

.p-person {
  font-family: $font-family;
  font-weight: $font-weight-extra-bold;
  color: $primary-color;
  font-size: 2vw;
}

section h2 {
  font-family: $font-family;
  font-weight: $font-weight-black;
  color: $primary-color;
  text-align: center;
  margin-bottom: 1rem;
}
