.main-games {
  text-align: center;
  padding: 20px;
  color: $primary-color;
  font-family: $font-family;
  background-color: $secondary-color;

  h1 {
    font-weight: $font-weight-black;
  }
}

.game-description {
  margin-bottom: 2rem;
  font-weight: $font-weight-extra-bold;
}

.game-grid {
  display: grid;
  width: 40%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.game-img {
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  line-height: 0;
  transition: transform 0.3s ease;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: middle;
    transition: transform 0.3s ease;
  }

  &:hover {
    transform: scale(1.5);

    img {
      transform: scale(1.1);
    }
  }
}

.game-img-npc:hover {
  img {
    transform: scale(2);
  }
}
