.main-games {
  text-align: center;
  padding: 20px;
  color: $primary-color;
  font-family: $font-family;
  background-color: $secondary-color;

  h1,
  h2 {
    font-weight: $font-weight-black;
  }
}

.game-description,
.section-description {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: $font-weight-extra-bold;
  text-align: justify;
  margin-left: 3rem;
  margin-right: 3rem;
}

.game-section {
  margin-bottom: 4rem; // Añade espaciado adicional entre secciones

  h2 {
    margin-top: 2rem; // Espaciado antes del título de la sección
  }
  h2 {
    font-size: 5rem;
  }
}

.gif-size-alone {
  width: 50%;
  max-width: 80rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section-description,
  .game-description {
    font-size: 1rem;
  }

  .gif-size-alone {
    width: 100%;
  }

  .game-section {
    h2 {
      font-size: 3rem;
    }
  }
}
