.carousel-container {
  max-width: 40%;
  margin: auto;
  overflow: hidden;
}

/* Estilo para los subtitulos y párrafos dentro del carrusel */
.carousel-caption {
  background: rgba(2, 28, 31, 0.75);
  border-radius: 0.5rem;
  padding: 1rem;
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
}

.carousel-caption h5 {
  font-family: $font-family;
  font-weight: $font-weight-extra-bold;
  color: $primary-color;
  margin-bottom: 0.5rem;
}

.carousel-caption p {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  color: $primary-color;
}

/* Ajustes para imagenes del carrusel para que se ajusten bien y mantengan proporciones */
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
}

/* Ajustes para botones de navegación del carrusel para mejorar visibilidad */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $primary-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Ajuste responsive */
@media (max-width: 768px) {
  .carousel-caption {
    font-size: 0.8rem;
  }

  .carousel-container {
    max-width: 80%;
  }

  .p-person {
    font-size: 3vw;
  }
}
