.card-custom {
  background-color: $primary-color;
  color: $secondary-color;

  .btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    font-family: $font-family;
    font-weight: $font-weight-extra-bold;
    color: $primary-color;
    font-size: 3vw;

    &:hover {
      background-color: #ffffff;
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.card-title,
.card-text {
  font-family: $font-family;
  color: $secondary-color;

  &::first-letter {
    color: #ff0000;
  }
}

.card-title {
  font-weight: $font-weight-black;
  font-size: 5vw;
}

.card-text {
  font-weight: $font-weight-extra-bold;
  font-size: 4vw;
}

.card-img-top {
  padding: 15px;
}

// Ajustes para vistas mayores a 768px
@media (min-width: 768px) {
  .card-title {
    font-size: 3vw;
  }

  .card-text {
    font-size: 2vw;
  }
}
