footer.bg-custom {
  color: $primary-color;

  a {
    color: $primary-color;

    &:hover {
      color: #ffffff;
    }
  }

  /* Ajusta la clase btn-outline-light de Bootstrap para que coincida con los estilos personalizados */
  .btn-outline-light {
    border-color: $primary-color;
    color: $primary-color;

    &:hover {
      border-color: #ffffff;
      color: $primary-color;
    }
  }
}
