.navbar-custom {
  background-color: $secondary-color;
  font-family: $font-family;
  font-weight: $font-weight-black;
}

.navbar-nav .nav-link {
  color: $primary-color;
  position: relative;
  display: inline-block;
}

//Animacion desde el centro
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $primary-color;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar-toggler {
  background-color: $primary-color;
}

.navbar-toggler:hover {
  opacity: 0.7;
}
