* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-custom {
  background-color: $secondary-color;
  font-family: $font-family;
  font-weight: $font-weight-black; /*'Montserrat', sans-serif font-weight: $font-weight-black genera la version Black*/
}

/*Texto comun*/
.text-custom {
  color: $primary-color;
}

h1 {
  font-family: $font-family;
  font-weight: $font-weight-black; /* Montserrat Black */
  color: $primary-color;
  font-size: 8vw;
}

p {
  font-family: $font-family;
  font-weight: $font-weight-extra-bold; /* Montserrat Extra-Bold */
  color: $primary-color;
  font-size: 5vw;
}

/* Se veia un poco raro, asi se ajusta un poco antes y despues de los 768px*/
@media (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  p {
    font-size: 3vw;
  }
}
