$primary-color: #dad3bf;
$secondary-color: #021c1f;

$font-family: "Montserrat", sans-serif;
$font-weight-black: 900;
$font-weight-extra-bold: 800;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
